<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.mohamed.samacard">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bsetlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/bsetlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
        <activity android:name=".auth.AuthinticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <activity
            android:name=".addCard.AddCardActivity"
            android:theme="@style/NoTitleDialog" />

        <provider
            android:name=".contentProvider.CardsContentProvider"
            android:authorities="com.dev.mohamed.samacard"
            android:exported="false" />

        <activity
            android:name=".SplachScreenActivity"
            android:theme="@style/CardThem" />
        <activity android:name=".search.SpiceficUsersActivity" />
        <activity android:name=".user.MyCardAndOffersActivity" />
        <activity android:name=".card.CardActivity" />
        <activity
            android:name=".card.NormalCardActvitiy"
            android:theme="@style/CardThem" />
        <activity
            android:name=".card.SpecialCardActivity"
            android:theme="@style/CardThem" />
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".chat.MessagesListActivity"
            android:theme="@style/AppTheme.WithActionBar"></activity>
    </application>

</manifest>